.menu-app-icon-container {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  /* height: 100%; */
}

.menu-app-icon--icon {
  width: 45px;
  height: 45px;
}

.menu-app-icon-container:hover {
  background-color: #bdbdbd2f;
}
