.top-bar {
  /* min-height: 80px; */
  height: 23px;
  border-radius: 15px;
  background-color: #000000a7;
  color: white;
  /* position: absolute; */
  /* bottom: 10px;
  left: 50%; */
  /* transform: translateX(-50%); */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  /* padding: 0 15px; */
}


.bar--clock{
  font-weight: 600;
}