.round-button {
  border: none;
  color: white;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  cursor:pointer;
}

.round-button--error {
  background-color: #b00020;
  border: none;
}

.round-button--warning {
  background-color: #cddc39;
  border: none;
}

.round-button--success {
  background-color: #03dac6;
  border: none;
}

.round-button--text{
  display: inline-flex;
  align-items: center;
  /* margin-top: -2px; */
}