.window-title-bar {
  height: 35px;
  display: flex;
  color: #ffffff;
  background-color: #252525;
  padding: 1px 10px;
  align-items: center;
  justify-content: space-between;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 18px;
}
.window-title-bar--button-row {
  display: flex;
}
